Intialization and uploading files

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import io
df1=pd.read_csv('/content/drive/MyDrive/wdbc.data',header=None)
df2=pd.read_csv('/content/drive/MyDrive/Euro_2012_stats_TEAM.csv')
df3=pd.read_csv('/content/drive/MyDrive/drinks.csv')

In [3]:
df3

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

Q.1)

Part a) Which country drinks more wine on average

Answer:

In [4]:
consumption = df3['wine_servings'].groupby(df3['continent']).mean()
consumption.sort_values(ascending=True)

continent
AS      9.068182
AF     16.264151
OC     35.625000
SA     62.416667
EU    142.222222
Name: wine_servings, dtype: float64

Part b) Print the beer consumption statistics for each country

Answer:

In [5]:
beer_consumption=df3['beer_servings'].groupby(df3['continent'])
beer_consumption.describe()

           count        mean        std   min     25%    50%     75%    max
continent
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

Part c) Median alcohol consumption of every continent for every column

Answer:

In [6]:
median_consumption = df3.groupby(df3['continent']).median()
median_consumption

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [7]:
df2

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

Q.2)

Part a) Find the teams who are participating in this tournament

Answer:

In [8]:
df2['Team']

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

Part b) Find the shooting accuracy of all the teams that have scored more than 5 goals

Answer:

In [9]:
accuracy=df2[df2['Goals']>5]
accuracy[['Team','Shooting Accuracy']]

        Team Shooting Accuracy
5    Germany             47.8%
7      Italy             43.0%
10  Portugal             34.3%
13     Spain             55.9%

Part c) Find the total number of goals scored in the tournament

Answer:

In [10]:
goals=df2['Goals'].sum()
goals

76

Part d) Sort the teams on the basis of goals scored(non-ascending order)

Answer:

In [11]:
goals_scored=df2[['Team','Goals']]
goals_scored.sort_values(by='Goals',ascending=False)

                   Team  Goals
13                Spain     12
5               Germany     10
7                 Italy      6
10             Portugal      6
3               England      5
6                Greece      5
12               Russia      5
14               Sweden      5
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
4                France      3
8           Netherlands      2
9                Poland      2
15              Ukraine      2
11  Republic of Ireland      1

Part e) Find the team with the most number of red cards

Answer:

In [86]:
cards = df2['Red Cards'].max()
df2[df2['Red Cards'] == cards]['Team']

6                  Greece
9                  Poland
11    Republic of Ireland
Name: Team, dtype: object

In [13]:
df1

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.26540,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.18600,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.24300,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.25750,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.16250,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,879830,M,17.01,20.26,109.70,904.3,0.08772,0.07304,0.06950,0.05390,...,19.80,25.05,130.00,1210.0,0.1111,0.1486,0.1932,0.10960,0.3275,0.06469
208,8810158,B,13.11,22.54,87.02,529.4,0.10020,0.14830,0.08705,0.05102,...,14.55,29.16,99.48,639.3,0.1349,0.4402,0.3162,0.11260,0.4128,0.10760
209,8810436,B,15.27,12.91,98.17,725.5,0.08182,0.06230,0.05892,0.03157,...,17.38,15.92,113.70,932.7,0.1222,0.2186,0.2962,0.10350,0.2320,0.07474
210,881046502,M,20.58,22.14,134.70,1290.0,0.09090,0.13480,0.16400,0.09561,...,23.24,27.84,158.30,1656.0,0.1178,0.2920,0.3861,0.19200,0.2909,0.05865
211,8810528,B,11.84,18.94,75.51,428.0,0.08871,0.06900,0.02669,0.01393,...,13.30,24.99,85.22,546.3,0.1280,0.1880,0.1471,0.06913,0.2535,0.07993

Q.3) Breast Cancer Question

In [77]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [17]:
x = df1.drop(1 , axis = 1)
y=df1[1]
y2=[]
for tumor in y:
  if(tumor=='M'):
    y2.append(1)
  else:
    y2.append(0)
y2=np.array(y2)
y2=y2.reshape(-1,1)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y2, test_size=0.2, random_state=0)
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [57]:
class Node():
    def __init__(self, feature_index=None, threshold=None, left=None, right=None, info_gain=None, value=None):
        self.feature_index = feature_index
        self.threshold = threshold
        self.left = left
        self.right = right
        self.info_gain = info_gain
        self.value = value

In [84]:
class DecisionTree():
    def __init__(self, min_samples_split=5, max_depth=10):
        self.root = None
        self.min_samples_split = min_samples_split
        self.max_depth = max_depth
  
    def split(self, dataset, feature_index, threshold):
        left = np.array([row for row in dataset if row[feature_index]<=threshold])
        right = np.array([row for row in dataset if row[feature_index]>threshold])
        return left, right

    def entropy(self, y):
        labels = np.unique(y)
        ent = 0
        for cls in labels:
            p_cls = len(y[y == cls]) / len(y)
            ent += -p_cls * np.log2(p_cls)
        return ent
    
    def gini_index(self, y):
        labels = np.unique(y)
        gini = 0
        for cls in labels:
            p_cls = len(y[y == cls]) / len(y)
            gini += p_cls**2
        return 1 - gini    

    def info_gain(self, parent, l_child, r_child, mode="entropy"):
        wl = len(l_child) / len(parent)
        wr = len(r_child) / len(parent)
        if mode=="gini":
            gain = self.gini_index(parent) - (wl*self.gini_index(l_child) + wr*self.gini_index(r_child))
        else:
            gain = self.entropy(parent) - (wl*self.entropy(l_child) + wr*self.entropy(r_child))
        return gain

    def get_best_split(self, dataset,samples, features):
        best_split = {}
        max_info_gain = -float("inf")
        for feature_index in range(features):
            feature_values = dataset[:, feature_index]
            possible_thresholds = np.unique(feature_values)
            for threshold in possible_thresholds:
                left, right = self.split(dataset, feature_index, threshold)
                if len(left)>0 and len(right)>0:
                    y, left_y, right_y = dataset[:, -1], left[:, -1], right[:, -1]
                    info_gain = self.info_gain(y, left_y, right_y, "gini")
                    if info_gain>max_info_gain:
                        best_split["feature_index"] = feature_index
                        best_split["threshold"] = threshold
                        best_split["dataset_left"] = left
                        best_split["dataset_right"] = right
                        best_split["info_gain"] = info_gain
                        max_info_gain = info_gain
        return best_split

    def build_tree(self, dataset, depth=0):
        X, Y = dataset[:,:-1], dataset[:,-1]
        samples, features = np.shape(X)
        if samples >= self.min_samples_split and depth <= self.max_depth:
            best_split = self.get_best_split(dataset, samples, features)
            if best_split["info_gain"] > 0:
                left_subtree = self.build_tree(best_split["dataset_left"], depth+1)
                right_subtree = self.build_tree(best_split["dataset_right"], depth+1)
                return Node(best_split["feature_index"], best_split["threshold"], 
                            left_subtree, right_subtree, best_split["info_gain"])
        leaf_value = self.calculate_leaf_value(Y)
        return Node(value=leaf_value)
        
    def calculate_leaf_value(self, Y):
        Y = list(Y)
        return max(Y, key=Y.count)
    
    def fit(self, X, Y):
        dataset = np.concatenate((X, Y), axis=1)
        self.root = self.build_tree(dataset)

    def prediction(self, x, tree):
        if tree.value!=None: return tree.value
        feature_val = x[tree.feature_index]
        if feature_val<=tree.threshold:
            return self.prediction(x, tree.left)
        else:
            return self.prediction(x, tree.right)

    def predict(self, X):
        preditions = [self.prediction(x, self.root) for x in X]
        return preditions

In [85]:
classifier = DecisionTree()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test) 
accuracy_score(y_test, y_pred)

0.8372093023255814